body{
    background-image: url(bg_img.jpg);
    color: black;
    font-style: italic;
}
.heading{
    font-size: 25px;
    width:80%;
}
#camera,#result{
    border: 10px double;
    color: brown;
    width: 350px;
    height: 300px;
}
#object_name, #object_accuracy{
    color:darkmagenta;
}
h1{
    border:10px double brown;
    width: 40%;
    color: darkmagenta;

}
button{
    color:white;
    background: darkmagenta;
}
P{
    color: darkmagenta;
}
.name_of_objects{
    color:darkmagenta;
    border-bottom: 10px double brown;
}